<h1> Bem vindo ao rails </h1>
<p> <Strong>Data: </Strong><%= data_br(Date.today) %> </p>
<ul>
    <li>
        <%= link_to "Cadastro de Moedas",coins_path %>
    </li>    
</ul>
<p>
    Ambiente <strong> <%= Rails.env %> </Strong>
</p>

<p>
    Abiente com help <strong> <%= ambiente_rails %> </strong>
</p>

<p> 
    Variável de instancia sessão <%= @nome %>
</p>

<p> 
    Curso de : <%= @curso %> 
</p>
